<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deshant.ende"
    android:installLocation="auto"
    android:versionCode="7"
    android:versionName="3.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Caesar"
            android:label="@string/title_activity_caesar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.MainActivity" />
        </activity>
        <activity
            android:name=".C_crypted"
            android:label="@string/title_activity_c_crypted"
            android:parentActivityName=".Caesar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.Caesar" />
        </activity>
        <activity
            android:name=".C_decrypted"
            android:label="@string/title_activity_c_decrypted"
            android:parentActivityName=".Caesar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.Caesar" />
        </activity>
        <activity
            android:name=".Vigenere"
            android:label="@string/title_activity_vigenere"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.MainActivity" />
        </activity>
        <activity
            android:name=".V_act"
            android:label="@string/title_activity_v_act"
            android:parentActivityName=".Vigenere" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.Vigenere" />
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.MainActivity" />
        </activity>
        <activity
            android:name=".Vig_auto"
            android:label="@string/title_activity_vig_auto"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.MainActivity" />
        </activity>
        <activity
            android:name=".V_auto_act"
            android:label="@string/title_activity_v_auto_act"
            android:parentActivityName=".Vig_auto" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.Vig_auto" />
        </activity>
        <activity
            android:name=".Atbash"
            android:label="@string/title_activity_atbash"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.MainActivity" />
        </activity>
        <activity
            android:name=".Atbash_act"
            android:label="@string/title_activity_atbash_act"
            android:parentActivityName=".Atbash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="deshant.ende.Atbash" />
        </activity>
    </application>

</manifest>
